body {
	background-color:#B0C4DE;
	margin: auto;
	width: 65%;
}

.body {
	text-align: center;
}

.heading {
	color:#696969;
}

#form {
	border: solid 2px #696969;
	padding: 30px;
	margin: 30px;
}

p {
	font-family: "Book Antiqua", arial;
}

footer {
	position:fixed;
	bottom:0;
}

a:visited {
    color: blue;
}

main {
	background-image: url("http://1-background.com/images/clouds/sea-of-clouds-seamless-repeating-tile.jpg");
}

img {
	width: 600px; 
	height: 400px;
}

li {
	text-align: left;
}

table, th, td {
   border: 1px solid black;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 12px;
  }
}
